{
  "env": {
    "development": {
      "passPerPreset": true,
      "presets": [
        {
          "plugins": [
            "./plugins/babelRelayPlugin"
          ]
        },
        "react-native"
      ]
    },
    "server": {
      "plugins": [
        "./plugins/babelRelayPlugin"
      ],
      "presets": [
        "react",
        "node5",
        "stage-0"
      ]
    }
  }
}
